page-home {
	#imgAvatar {
 		height: 120px;
		width: 120px;
		margin: auto;
	}
	#img1 {
		height: 100%;
		margin: auto;
	}
	#img2 {
		height: 100%;
		margin: auto;		
	}
	#img3 {
		height: 100%;
		margin: auto;		
	}
	#img4 {
		height: 100%;
		margin: auto;		
	}

}
