page-radar {

     #imgRadar {
          background: wheat;
          animation: example 15s linear 0s infinite; 
          width: 360px;

          margin: auto;       
          }
   
     @keyframes example {
          from { transform: rotate(0deg); }
          to { transform: rotate(360deg); }
          }

}
