page-signin {
	position: relative;
	.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
	}

	form {
		// position: absolute;
		bottom: 15%;
		// width: 90%;
	}
#logo {
	height: 55%;
	margin: auto;
}

	input{
		text-align: center;
		border: none;
		border-radius:30px;
		height: 30%;
		width: 90%;
		padding: 1em;
		margin: 5%;
		background-color: rgb(242,241,239);
	}
}
