<ion-header>
	<ion-navbar color="orange">
		<ion-title>Conversation avec {{name}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-list [virtualScroll]="conv" class="convList">

  		<ion-item *virtualItem="let msg"  > <!-- Le message est reçu    -->
  			<ion-item *ngIf="msg.Who == 0" class="leftMsg" (click)="goToProfile(msg.Id)">
  				  <ion-avatar item-start>
	  	  	 	  	<ion-img src={{msg.Img}}></ion-img>
	  	  	 	</ion-avatar>
    		    {{ msg.Msg }}
			  </ion-item>

  		  <ion-item *ngIf="msg.Who == 1" class="rightMsg">
  	      <ion-avatar item-end>
	  	    	  <ion-img src={{msg.Img}}></ion-img>
	  	    </ion-avatar>
          {{ msg.Msg }}
			  </ion-item>
      </ion-item>
	</ion-list>
 	<ion-item class="chatBoxBottom">

  	  	<ion-label color="primary" class="msgInput">  <ion-icon ios="ios-add" md="md-add" (click)="loadFile(file)"></ion-icon></ion-label>
  	  	<ion-input placeholder="Appuyez ici pour écrire" #m></ion-input>
  	</ion-item>


</ion-content>


